@using System.Collections;
@using Web.Persistances;
@using Web_BanDienThoai.Controllers;
@using Web.Services.implementation;
@using Web.Services;
@using Web.Entities;
@using Web_BanDienThoai.Models.ChiTietHoaDon;
@model CreateChiTietHoaDonViewModel;

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="HoaDon" asp-action="Index">Danh Sách Hóa Đơn</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm Chi Tiết Hóa Đơn</li>
        </ol>
    </nav>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="col-md-12 table-responsive-md">
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="Id_HoaDon" class="form-label"></label>
                </div>
                @*<div class="col-3 form-group">
                    <select asp-for="Id_HoaDon" class="form-control" asp-items="@Model.HoaDon">
                        <option value=""> Chọn Hóa Đơn </option>
                    </select>
                    <span asp-validation-for="Id_HoaDon" class="text-danger"></span>
                </div>*@
                <div class="col-3 form-group">
                    <input asp-for="Id_HoaDon" class="form-control" readonly/>
                    <span asp-validation-for="Id_HoaDon" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="Id_SanPham" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <select asp-for="Id_SanPham" class="form-control" asp-items="@Model.SanPham" id="click">
                        <option value=""> Chọn Sản Phẫm </option>
                    </select>
                    <span asp-validation-for="Id_SanPham" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.error</div>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="SoLuong" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="DonGia" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="DonGia" class="form-control" id="giatien" readonly/>
                    <span asp-validation-for="DonGia" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="ThanhTien" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="ThanhTien" class="form-control" readonly/>
                    <span asp-validation-for="ThanhTien" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                <button type="button" onclick="quay_lai_trang_truoc()" class="btn btn-rounded btn-success float-right" @*asp-action="index"*@><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</button>
                <br />
                <br />
                <br />
            </div>
            </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function quay_lai_trang_truoc() {
            history.back();
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#click").change(function () {
                id = $(this).val();
                console.log(id);
                $.ajax({
                    url: "/SanPham/List",
                    method: "GET",
                    data: {
                        data: id
                    },
                    dataType: "json",
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#giatien").val(data.GiaTien);
                        console.log(data.GiaTien);
                        console.log(data);
                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            });
        });
    </script>
}

