@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>@ViewBag.Title</h1>

@if(Model.Any())
{
    <a asp-controller="administration" asp-action="CreateRole" class="btn btn-primary mb-3">Create Role</a>

    foreach(var role in Model)
    {
         <div class="card mb-3">
            <div class="card-header">
                @role.Id
            </div>    
            <div class="card-body">
                @role.Name
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
                
            </div>
        </div>
    }
} else {
    <div class="card">
      <div class="card-header">
        No roles to display
      </div>    
      <div class="card-body">
        <h5 class="card-title">Use the button below to create role!</h5>
        <a asp-controller="administration" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
      </div>
    </div>
}