@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container">

            <!-- Product-Gallery -->
            <section class="item-gallery__iphone">
                <div class="item-container">
                    <div class="item-container__content">
                        <div class="gallery-grid">
                            <div class="item-grid">
                                <div class="item-box">
                                    <!-- box-sản phẩm -->
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="/products/iphone-13.html" title="Hiển thị chi tiết iPhone 13">

                                                <img class="product-img--click" src="https://shopdunk.com/images/thumbs/0000596_iphone-13.png" alt="Ảnh của iPhone13">
                                            </a>
                                        </div>
                                        <div class="produck-detail">
                                            <div class="product-title">
                                                <a href="/products/iphone-13.html"> iPhone 13 </a>
                                            </div>
                                            <div class="product-description"></div>
                                            <div class="product-price">17.990.000</div>
                                        </div>
                                    </div>

                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="/products/iphone-14.html" title="Hiển thị chi tiết iPhone 14">

                                                <img class="product-img--click" src="https://shopdunk.com/images/thumbs/0009181_iphone-14-128gb.png" alt="Ảnh của iPhone14">
                                            </a>
                                        </div>
                                        <div class="produck-detail">
                                            <div class="product-title">
                                                <a href="/products/iphone-14.html"> iPhone 14 </a>
                                            </div>
                                            <div class="product-description"></div>
                                            <div class="product-price">20.990.000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>