<div class="row-">
    <div class="col">
        <div class="row">
            <label><b>Kiểu Bảng Thống Kê</b></label>
        </div>
        <div class="row-4">
            <select id="ChartType" class="form-control" style="width:fit-content">
                <option selected>--Chọn Bảng Thống Kê--</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
       
        <div class="row-4" style="margin-top:7px">
            <input id="ID" value="Hiển thị thống kê" type="button" />
        </>
    </div>

    <div class="col">
        <div class="row">
            <label><b>Kiểu Bảng Thống Kê</b></label>
        </div>
        <div class="row-4">
            <select id="ChartType" class="form-control" style="width:fit-content">
                <option selected>--Chọn Bảng Thống Kê--</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        
        <div class="row-4" style="margin-top:7px">
            <input id="ID" value="Hiển thị thống kê" type="button" />
        </div>
    </div>
</div>
<br />

<div id="ChartView">
    <canvas id="myChart"></canvas>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">

    $(function () {
        $("#ID").click(function () {

            var chartType = $("#ChartType").val();
            var chartView = document.getElementById('ChartView');

            chartView.innerHTML = /*'$nbsp;'*/ " ";

            $('#ChartView').append('<canvas id="myChart" style="max-width:500px; max-height:400px;"></canvas>');

            $.ajax({
                type: "POST",
                url: "/DashBoard/GetDataHoaDonDashboard",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {

                var _data = data;
                var _chartLabels = _data[0];
                var _chartData = _data[1];
                //var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

                var barColor =
                    [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ];


                new Chart("myChart",
                    {
                        options:
                        {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Biểu đồ thống kê HÓA ĐƠN BÁN HÀNG'
                                }
                            }
                        },
                        type: chartType,
                        data: {
                            labels: _chartLabels,
                            datasets:
                                [{
                                    backgroundColor: barColor,
                                    data: _chartData

                                }]
                        }

                    });

            }

            function OnError(err) {

            }
        });
    });

</script>