@using System.Collections;
@using Web.Persistances;
@using Web_BanDienThoai.Controllers;
@using Web_BanDienThoai.Models.DanhMucCon;
@using Web_BanDienThoai.Models.CauHinh;
@using Web.Services.implementation;
@using Web.Services;
@using Web.Entities;
@model EditDanhMucConViewModel;

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="DanhMucCon" asp-action="Index">Danh Sách Danh Mục Con</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh Sửa Danh Mục Con</li>
        </ol>
    </nav>

    <form method="post" asp-action="Edit" enctype="multipart/form-data">

        <div class="col-md-12 table-responsive-md">
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="Id_DanhMucCon" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Id_DanhMucCon" class="form-control" readonly/>
                    <span asp-validation-for="Id_DanhMucCon" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="TenDanhMuc" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="TenDanhMuc" class="form-control" />
                    <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
            </div>
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="CauHinh" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <select asp-for="Id_CauHinh" class="form-control" asp-items="@Model.CauHinh">
                        <option value=""> Chọn Cấu Hình </option>
                    </select>
                    <span asp-validation-for="Id_CauHinh" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <a class="btn btn-rounded btn-primary form-label" asp-controller="MauSac" asp-action="Create"> <i class="fas fa-plus-square" style="margin-right:0.7em"></i>Thêm loại Sản Phẩm</a>
                </div>
            </div>
        </div>
        <div class="form-group" style=" margin-top:0.5cm">
            <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Edit</button>
            <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
            <br />
            <br />
            <br />
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

