@using Web_BanDienThoai.Models.KhachHang;
@model EditKhachHangViewModel

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="KhachHang" asp-action="Index">Danh Sách Khách Hàng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sửa Khách Hàng</li>
        </ol>
    </nav>

    <form method="post" asp-action="Edit" enctype="multipart/form-data">

        <div class="col-md-12 table-responsive-md">
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="Id_KhacHang" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Id_KhacHang" class="form-control" />
                    <span asp-validation-for="Id_KhacHang" class=" text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="FirstName" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="LastName" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class=" text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="FullName" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="Gender" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="DOB" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="Email" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="Address" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="Phone" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
            <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
            <br />
            <br />
            <br />
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

